.toolbar-header .title {
  -webkit-app-region: drag;
}

.window {
	/*min-height: 100vh;*/
}

.hidden {
	display:none;
}

.window-content {
  align-items: center;
  justify-content: center;
}

#editor {
	border: none;
	border: 1px solid #ccc;
	/*height: 150px;*/
}

.ql-editor {
	/*height: 92.5px;*/
	overflow-y: hidden !important;
}

#editor-wrapper {
	max-height: 75vh;
}